{
  "semi": true,
  "singleQuote": false,
  "tabWidth": 4,
  "useTabs": true,
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "arrowParens": "avoid",
  "trailingComma": "none",
  "printWidth": 10000
}